



.rheader{
    height: 110px;
    background: url(//misc.360buyimg.com/user/reg/3.0.0/css/i/headbg.jpg) repeat-x left bottom;
    .w{
        width: 1210px;
        margin:0 auto;
        .fl{
            a{
                width: 160px;
                height: 50px;
                float: left;
                margin-top: 24px;
                background: url(../img/icon.png) no-repeat ;
            }
        }
        .welcome{
            float: left;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            color: #333;
            margin-top: 34px;
        }
        .fr{
            font-size: 16px;
            float: right;
            margin-top: 55px;
            color: #999;
            a{
                color: #e22;
                font-size: 16px;
            }
        }
    }
}
.container{
    .w{
        width: 1210px;
        margin:0 auto;
        .form{
            margin: 50px auto 186px;
             width: 400px;
             height: 200px;
            .item_wrap{
                height: 86px;
                position: relative;
                z-index: 2;
                .form_item{
                    position: relative;
                    // border: solid 1px #ddd;
                    width: 398px;
                    height: 52px;
                    z-index: 0;
                    margin-bottom: 20px;
                    .select{
                        float: left;
                        width: 87px;
                        height: 50px;
                        line-height: 50px;
                        border: solid 1px #ddd;
                        border-right: none;
                        padding: 0 0 0 20px;
                        cursor: pointer;
                        color: #666;
                    }
                    .input_wrap{
                        float: left;
                        width: 288px;
                        height: 50px;
                        border: solid 1px #ddd;
                        #name{
                            border: 0 none;
                            font-size: 14px;
                            width: 190px;
                            height: 19px;
                            padding-bottom: 11px;
                            padding-left: 20px;
                            padding-top: 16px;
                        }
                        #psd{
                            border: 0 none;
                            font-size: 14px;
                            width: 190px;
                            height: 19px;
                            padding-bottom: 11px;
                            padding-left: 20px;
                            padding-top: 16px;
                        }
                        #psdd{
                            border: 0 none;
                            font-size: 14px;
                            width: 190px;
                            height: 19px;
                            padding-bottom: 11px;
                            padding-left: 20px;
                            padding-top: 16px;
                        }
                        .i_status{
                            position: absolute;
                            display: none;
                            width: 16px;
                            height: 16px;
                            top: 20px;
                            right: 20px;
                            background: url(../img/icon.png) no-repeat;
                            background-position: 0 -117px;
                        }
                        .i_cancel{
                            background-position: -80px -160px;
                            position: absolute;
                            display: none;
                            width: 12px;
                            height: 12px;
                            top: 22px;
                            right: 20px;
                            cursor: pointer;
                            background-position: -80px -160px;
                        }
                    }
                }
            }
        }
        .btn_next{
            width: 400px;
            height: 54px;
            margin-left: 405px;
            line-height: 54px;
            text-align: center;
            color: #fff;
            background: #e2231a;
            border: 0;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}
.foot{
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    padding-bottom: 30px;
    margin-top: 100px;
    .content{
        margin-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        .links{
            a{
                font-size: 12px;
                margin: 0 10px;
                color: #999;
                &:hover{
                    color: #E4393C;
                    text-decoration: underline;
                }
            }
        }
        .copyright{
            margin: 10px 0;
            font-size: 12px;
        }
    }
}